body {
    font-family: 'Palatino Linotype', sans-serif !important;
    opacity: 0;
}

body.ready {
    opacity: 1;
    transition: 0.25s opacity;
}

header {
    background-color: #0284c7;
    padding: 2px 0;
}

h1.title {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

section.main {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

multiple-indexes-searcher {
    --sc-width: 60vw;
}

/* small screen sizes */
@media only screen and (max-width: 664px) {
	body {
		font-size: 0.875rem;
		padding: 2px;
	}

	header {
		font-size: 12px;
	}

	h1.title {
        text-align: justify;
        padding: 5px;
	}
}

/* medium screen sizes */
@media only screen and (max-width: 835px) {
	body {
		font-size: 0.875rem;
		padding: 2px;
	}

	header {
		font-size: 12px;
	}

	h1.title {
        text-align: justify;
        padding: 5px;
	}    
}