body {
    font-family: 'Palatino Linotype',sans-serif !important;
}

header {
    background-image: linear-gradient(to right, #2c1d8c, #cac4f5);
    padding: 2px 0;
}

h1.title {
    color: #f2dc4e;
    font-weight: bold;
    text-align: center;
}

section.main {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

multiple-indexes-searcher {
    --sc-width: 60vw;
    margin: auto;
}
